body{
    background-image: url("/assets/images/bgFixoComCaracteres.png");
    background-repeat: no-repeat;
    background-attachment: initial;
    background-position: center;
}

.formContent{
    background-color: white;
}